<body>
  <div id="flipbook_index">
    <h2>Here are your flipbooks</h2>
  
    <div id="flipbook_index_list">
      <% @user.flipbks.each do |book| %>

      <p>
        <% book.delete if book.photos.all.empty? %>
        <%=  link_to(image_tag(book.photos.all.first.url,:alt => book.name, :size => "80x80"), flipbk_path(book.id)) if !(book.photos.all.empty?) %>
      </p>

      <% end %>
    </div>
    <div id="link_new_flipbook">
      <%= link_to('Create new Flipbook', '/flipbks/new') %>
    </div>
  </div>
</body>
