<body>
  <div id="fb_main">
    <h2>Your flipbooks</h2>
    <div id="flipbook_index">
  
      <div id="flipbook_index_list">
        <% @user.flipbks.each do |book| %>
        <p>
          <%= link_to(book.name, flipbk_path(book.id)) %>
        </p>
        <% end %>
      </div>
      <div id="link_new_flipbook">
        <%= link_to('Create flipbook', '/flipbks/new') %>
      </div>
    </div>
  </div>
</body>
