<h1><%= "#{@user.name}'s Instagram photos." %></h1>
  
  <% for media_item in @client.user_recent_media %>
    <%= image_tag(media_item.images.thumbnail.url) %>
  <% end %>
  
  <!-- For full-size images -->
  
  <% for media_item in @client.user_recent_media %>
    <%= image_tag(media_item.images.standard_resolution.url) %>
  <% end %>