#main{
  display: block;
  margin-top: 20px;
  max-width: 700px;
  margin: 50px auto 50px auto;
}

#fb_main h2{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  margin-left: 15px;
}

#flipbook_index{
  border-style: solid;
  width: 700px;
  display: inline-block; 
}

#flipbook_index p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin-left: 10px;
}

#flipbook_index a{
  text-decoration: none;
  color: #1393B8;
}

#flipbook_index a:hover{
  text-decoration: none;
  color: #000000;
}

#flipbook_index_list{
  margin-left: 15px;
}

#link_new_flipbook{
  padding: 15px;
}

#link_new_flipbook a{
  text-decoration: none;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

#link_new_flipbook a:hover{
  color: #1393B8;
}

/*------------------------------------------------*/

#new_flipbook_form{
  border-style: solid;
  width: 700px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 15px;
}

#new_flipbook_form li{
  list-style-type: none;
}

#flipbook_fields{
  margin: auto;
}

#new_flipbook_form label{
  width: 8em;
  float: left;
  text-align: left;
  padding-top: 2px;
  margin-right: 20px;
}

#new_flipbook_form .button{
  float: left;
  margin-top: 15px;
  margin-right: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
}
/*------------------------------------------------*/

#flipbooks_show{
  border-style: solid;
  width: 600px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-align:center;
  margin: 50px 25%;
}
#settings{
  padding:0;
}

#settings li{
  display:inline-block;
}

.margin{
  margin-left:35px;
}

#flipbook_description{
  margin:auto;

}






