#profile{
  margin-top: 20px;
  max-width: 650px;
  margin: 50px auto 50px auto;
}

#profile_left{
  float: left;
  margin-left: 50px;
}

#profile_right{
  float: left;
}

#avatar{
  padding-top: 20px;
  width: 150px;
  height: 150px;
}

#avatar img{
  border-radius: 25px;
}

#name h2{
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin-left: 15px;
}

#profile_links li{
  list-style-type: none;
  margin-left: -20px;
  padding-top: 5px;
}

#profile_links a{
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-decoration: none;
}

#profile_links a:hover{
  color: #2B72A8;
}

/*--------------------------------*/

#show_flipbooks{
  display: block;
  clear: both;
}

#show_flipbooks p{
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

/*--------------------------------*/

#edit_form{
  border-style: solid;
  width: 700px;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding: 15px;
}

#edit_form li{
  list-style-type: none;
}

#edit_fields{
  margin: auto;
}

#edit_form label{
  width: 8em;
  float: left;
  text-align: left;
  padding-top: 2px;
  margin-right: 20px;
}

#edit_form .button{
  float: left;
  margin-top: 15px;
  margin-right: 15px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10px;
  vertical-align: middle;
}










