#profile{
  margin-top: 20px;
}

#profile_left{
  float: left;
  margin-left: 20%;
}

#profile_right{
  float: right;
  margin-right: 40%;
}

#avatar{
  padding-top: 20px;
  width: 150px;
  height: 150px;
}

#avatar img{
  border-radius: 25px;
}

#name h2{
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  margin-left: 15px;
}

#profile_links li{
  list-style-type: none;
  margin-left: -20px;
  padding-top: 5px;
}

#profile_links a{
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  text-decoration: none;
}

#profile_links a:hover{
  color: #2B72A8;
}

#connect_instagram img{
  width: 25px;
}

#connect_instagram{
  margin-right: 17px;
}

#view_public{
  margin-right: 11px;
}

/*--------------------------------*/

#show_flipbooks{
  display: block;
  float: left;
  margin-left: 20%;;
}

#show_flipbooks p{
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}










