<!-- <% i = 0 %>
<% @users.each do |u| %>
  <% i += 1%>
  <div class="show_flipbk<%= i %>">
    <% #photo = u.photos.find(u.id) %>
    <img src="<%= u.photos %>" alt="<%=u.name%>">
  </div>
  <% i = 0 if i == 3 %>
<% end %> -->
<!DOCTYPE html>
<html>

<body>
<div id="tagline">
    <h1>flipbook</h1>
    <h2>Animate your process.</h2>
</div>
</body>

</html>