<p>super important public profile stuff</p>

<!-- INITIALIZES THE ACTUAL FACEBOOK API, DO NOT REMOVE -->
<!-- put inside of eventual body tag -->
<div id="fb-root"></div>
<script>
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '{1492301310990221}',
      status     : true,
      xfbml      : true
    });
  };

  (function(d, s, id){
     var js, fjs = d.getElementsByTagName(s)[0];
     if (d.getElementById(id)) {return;}
     js = d.createElement(s); js.id = id;
     js.src = "//connect.facebook.net/en_US/all.js";
     fjs.parentNode.insertBefore(js, fjs);
   }(document, 'script', 'facebook-jssdk'));
</script>


<!-- put inside of eventual body tag -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=1492301310990221";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


</p>CONTENT! CONTENT EVERYWHERE!!!!!</p>


<!-- THE FACEBOOK BUTTON ITSELF -->
<div class="fb-like" data-href="https://flipbook-ocs.herokuapp.com/public/show/" data-width="55" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
<!-- END FACEBOOK BUTTON -->
<p>contentcontent</p>